body {
  font-family: 'Roboto Slab', 'Roboto';
  font-size: 2px;
  line-height: 1;
  background: -webkit-linear-gradient(to right, #2c3e50, #4ca1af); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #4ca1af);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 5vh;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff98;
  color: #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  font-weight: bold;
  font-size: 17px;
}

.past {
  background-color: rgba(112, 128, 144, 0.465);
  color: white;
}

.present {
  background-color: rgba(0, 128, 0, 0.383);
  color: white;
}

.future {
  background-color: #0e6fb480;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0e6fb4d7;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

